:root {
    --primary-color: #4834d4;
    --success-color: #6ab04c;
    --warning-color: #f0932b;
    --danger-color: #eb4d4b;

    --light-color: #212529;
    --light-second-color: #727475;
    --light-background: #ffffff;
    --light-second-background: #f1f1f1;


    --dark-color: #909090;
    --dark-second-color: #f5f6fa;
    --dark-background: #23242D;
    --dark-second-background: #181818;
}

.light {
    --main-bg-color: var(--light-background);
    --second-bg-color: var(--light-second-background);
    --main-color: var(--light-color);
    --second-color: var(--light-second-color);
    --box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.2);
    --bg: #f2f2f2;
    --border: .5px solid #d4d4d4;
    --text-black-900: #000000;
    --text-black-700: #555555;
    --text-black-600: #666666;
    --text-black-300: #bbbbbb;
    --bg-2: #f1f1f1;

}

.dark {
    --main-bg-color: var(--dark-background);
    --second-bg-color: var(--dark-second-background);
    --main-color: var(--dark-color);
    --second-color: var(--dark-second-color);
    --box-shadow: 0px 1px 10px 0px rgba(114, 114, 114, 0.5);
    --bg: #f2f2f2;
    --border: .5px solid #413f3f;
    --text-black-900: #ffffff;
    --text-black-700: #ffffff;
    --text-black-600: #bbbbbb;
    --bg-2: #363B4C;



}

.light .logo-dark,
.light .light-icon {
    display: none;
}

.dark .logo-light,
.dark .dark-icon {
    display: none;
}

.bg-primary {
    background: var(--primary-color);
}

.bg-success {
    background: var(--success-color);
}

.bg-warning {
    background: var(--warning-color);
}

.bg-danger {
    background: var(--danger-color);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:not(i) {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    vertical-align: middle;
    max-width: 100%;
}



body {
    font-family: 'Roboto', sans-serif;
    background: var(--main-bg-color);
    color: var(--main-color);
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
}

.navbar {
    display: flex;
    flex-direction: row;
    background: var(--main-bg-color);
    color: var(--main-color);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 101;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px 1px;
}

.navbar-nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.nav-link {
    float: left;
    text-align: center;
    padding: 21px 10px;
    text-decoration: none;
    font-size: 17px;
    color: var(--second-color);
    position: relative;
}

.nav-link:hover {
    cursor: pointer;
}

.navbar-nav i {
    font-size: 1.4rem;
}

.nav-right {
    margin-left: auto;
}

.navbar-search {
    position: relative;
    margin: auto;
    width: 50%;
}

.navbar-search input {
    background: var(--bg-2);
    border: none;
    padding: 12px 50px 12px 50px;
    width: 100%;
    outline: none;
    color: var(--main-color);
    border-radius: 20px;
}

.navbar-search input::placeholder {
    font-weight: 600;
    font-size: 15px;
}

.navbar-search i {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: var(--second-color);
    cursor: pointer;
}

.logo {
    height: 60px;
    padding: 10px;
}

.avt img {
    width: 39px;
    height: 39px;
    border-radius: 50%;
}

.avt {
    padding: 11px
}

.navbar-badge {
    font-size: .6rem;
    padding: 2px 4px;
    font-weight: 300;
    position: absolute;
    right: 5px;
    top: 12px;
    color: #fff;
    background: var(--danger-color);
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.dropdown {
    position: relative;
}

.dropdown:hover {
    cursor: pointer;
}

.dropdown-menu {
    list-style: none;
    display: none;
    flex-direction: column;
    position: absolute;
    right: 20%;
    top: 90%;
    background: var(--main-bg-color);
    max-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: unset;
    border-radius: 10px;
}

.dropdown-expand {
    display: flex;
}

.notification-menu {
    min-width: 380px;
}

.dropdown-menu-content {
    max-height: 500px;
    overflow-y: auto;
}

.dropdown-menu-item {
    width: 100%;
    padding: 5px 0px;
}

.dropdown-menu-item a {
    font-size: 15px;
    font-weight: 500;
    display: flex;
}

.dropdown-menu-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: var(--main-color);
    padding: 5px 0px;
}

.dropdown-menu-link div {
    min-width: 82px;
    height: 50px;
    position: relative;
}

.dropdown-menu-link i {
    font-size: 1rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    color: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

.fa-user-plus {
    background: #1471E8;
}

.fa-comment {
    background: #30CD36;
}

.fa-heart {
    background: #F25961;
}

.dropdown-menu-link span {
    font-size: 15px;
    width: 298px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown-menu-link span>span {
    font-size: 10px;
}

.dropdown-menu-link:hover {
    cursor: pointer;
    background: var(--second-bg-color);
}

.dropdown-menu-content #more {
    display: none;
}

.dropdown-menu-header {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid var(--second-bg-color);
}

.dropdown-menu-footer {
    padding: 10px;
    text-align: left;
    border-top: 1px solid var(--second-bg-color);
    font-size: 16px;
    font-weight: 500;
}

.dropdown-menu-footer a {
    color: var(--light-color);
    font-size: 16px;
    font-weight: 500;
}

.overlay-scrollbar::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}

.scrollbar-hover::-webkit-scrollbar {
    display: none;
}

.scrollbar-hover:hover::-webkit-scrollbar {
    display: block;
}

.overlay-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10rem;
    border: 1px solid var(--main-bg-color);
}

.overlay-scrollbar::-webkit-scrollbar-track-piece:start {
    background: transparent;
}

.overlay-scrollbar::-webkit-scrollbar-track-piece:end {
    background: transparent;
}

/*============
    sidebar 
==============*/

.sidebar {
    width: 82px;
    height: 100vh;
    position: fixed;
    margin-top: 65px;
    background: var(--main-bg-color);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px 1px;
    overflow: hidden;
    z-index: 100;
    transition: width .5s;
}

.sidebar:hover {
    width: 250px;
}

.sidebar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.sidebar-nav-item {
    width: 100%;
}

.sidebar-nav-link {
    display: flex;
    align-items: center;
    color: var(--main-color);
    text-decoration: none;

}

.sidebar-nav-link span {
    font-weight: 600;
}

.sidebar-nav-link i {
    font-size: 1.2rem;
    color: var(--second-color);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.sidebar-nav-link div {
    min-width: 82px;
    height: 50px;
    position: relative;
}

.sidebar-nav-link:hover {
    background: var(--second-bg-color);
}

.sidebar-nav-link.active {
    background: var(--second-bg-color);
    color: var(--danger-color);
}

.sidebar-nav-link.active div {
    border-left: 5px solid var(--danger-color);
}

.sidebar-nav-link.active i {
    color: var(--danger-color);
    margin-left: -5px;
}

.sidebar-expand .sidebar {
    width: 250px;
}

.sidebar-expand .wrapper {
    margin-left: 250px;
}

/* Extra small devices <= 600px */
@media only screen and (max-width: 600px) {
    .sidebar {
        width: 0;
    }

    .sidebar-expand .wrapper {
        margin-left: 0;
    }

    .nav-right .nav-item {
        display: none;
    }

    .nav-right .mode,
    .nav-right .avt-wrapper {
        display: list-item;
        ;
    }

    .navbar-search {
        display: none;
    }

    .dropdown-menu {
        max-width: 300px;
    }

    [class*="col-"] {
        width: 100%
    }
}

/* CARD */

.card-box-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 305px;
    padding: 15px 0px;
    box-shadow: var(--box-shadow);
    border-radius: 6px;
    background: #fff;
    margin-left: 60px;
    margin-bottom: 20px;
    
}
.card-box-1 i {
    padding: 10px;
    font-size: 23px;
    color: #fff;
    background: #1572E8;
    border-radius: 6px;
}
.card-box-1 div h3 {
    font-size: 20px;
    font-weight: 600;
    color: var(--main-color);
}



/* end of card */

/* payment */

.checkout_form {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 480px;
    width: 100%;
    background: rgba(0, 0, 0, 0.05);
    padding: 30px;
    border-radius: 25px;
    margin: 0px 10px 50px 10px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.05);
}

.card_number {
    margin-bottom: 25px;
}
label {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-black-900);
}
input {
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
}
select {
    padding: 10px 20px;
    border: 2px solid var(--border);
     font-size: 16px;
     font-weight: 500;
     outline: none;
     border: none;
}
option {
    padding: 20px;
    font-size: 16px;
    font-weight: 500;
    outline: none;
    border: none;
}
.pad {
    margin-right: 15px;
}
.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.flex p {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-black-900);
}
input[type="text"] {
    padding: 10px;
    border-radius: 3px;
    font-size: 16px;
    border: 2px solid #9e9e9e;
    border: 0;
    text-align: center;
}

.card_number .input {
    width: 100%;
    text-align: left;
}


.card_grp {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}


.expiry_date,
.cvc {
    width: 48%;
    display: flex;
}

.expiry_date .expiry_input {
    width: 60px;
    margin-right: 10px;
}

.cvc {
    justify-content: flex-end;
    align-items: center;
}

.cvc .cvc_input {
    width: 80px;
    margin-right: 10px;
}


.cvc_img {
    border: 2px solid #1572E8;
    width: 25px;
    height: 25px;
    font-size: 18px;
    color: #1572E8;
    font-weight: bold;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.cvc_img .img {
    position: absolute;
    width: 100px;
    height: 80px;
    padding: 10px 10px 5px;
    border-radius: 3px;
    top: -30px;
    right: 33px;
    background: #064887;
    display: none;
}

.cvc_img .img img {
    width: 100%;
    height: 100%;
}

.cvc_img:hover .img {
    display: block;
}

.btn {
    width: 100%;
    background: #064887;
    color: #fff;
    padding: 10px;
    border-radius: 3px;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 5px;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #064887;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #064887;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #064887;
}



@media screen and (max-width: 420px) {
    .card_grp {
        flex-direction: column;
    }

    .expiry_date {
        width: 100%;
        justify-content: space-between;
        margin-bottom: 25px;
    }

    .expiry_date .expiry_input {
        width: 48%;
        margin: 0;
    }

    .cvc {
        width: 100%;
        justify-content: space-between;
    }

    .cvc .cvc_input {
        width: 48%;
    }

    .cvc_img .img {
        right: 26px;
    }
}



/* Credit Card Validator */
#card-container {
    position: relative;
    width: 100%;
}

#logo {
    width: 46px;
    height: 30px;
    position: absolute;
    top: 36px;
    right: 7px;
}

.visa {
    background: url("../img/card.jpg") 0 0 no-repeat;
}

.mastercard {
    background: url("../img/card.jpg") 0 -30px no-repeat;
}

.amex {
    background: url("../img/card.jpg") 0 -60px no-repeat;
}

.diners {
    background: url("../img/card.jpg") 0 -90px no-repeat;
}

.discover {
    background: url("../img/card.jpg") 0 -120px no-repeat;
}

.shopping {
    background: url("../img/card.jpg") 0 -150px no-repeat;
}

.naranja {
    background: url("../img/card.jpg") 0 -180px no-repeat;
}

.qida {
    background: url("../img/card.jpg") 0 -210px no-repeat;
}

.clubdia {
    background: url("../img/card.jpg") 0 -240px no-repeat;
}

.musicred {
    background: url("../img/card.jpg") 0 -270px no-repeat;
}

.nevada {
    background: url("../img/card.jpg") 0 -300px no-repeat;
}

.tuya {
    background: url("../img/card.jpg") 0 -330px no-repeat;
}

.laanonima {
    background: url("../img/card.jpg") 0 -360px no-repeat;
}

.crediguia {
    background: url("../img/card.jpg") 0 -390px no-repeat;
}

.patagonia {
    background: url("../img/card.jpg") 0 -410px no-repeat;
}

.sol {
    background: url("../img/card.jpg") 0 -440px no-repeat;
}

.cabal {
    background: url("../img/card.jpg") 0 -470px no-repeat;
}

.cencosud {
    background: url("../img/card.jpg") 0 -500px no-repeat;
}

.credimas {
    background: url("../img/card.jpg") 0 -530px no-repeat;
}

.carrefour {
    background: url("../img/card.jpg") 0 -560px no-repeat;
}

.grupar {
    background: url("../img/card.jpg") 0 -590px no-repeat;
}

.wishgift {
    background: url("../img/card.jpg") 0 -610px no-repeat;
}

.unknown {
    background: url("../img/card.jpg") 0 -640px no-repeat;
}

@media(max-width:600px){
    .checkout_form {
         top: 85%;
    }
    .card-box-1 {
        margin-left: 30px;

    }
}

/* footer */
footer {
    text-align: center;
    margin: 10px 0px;
}

footer p {
    color: var(--text-black-700);
    font-size: 17px;
    font-weight: 600;
}

footer p a {
    color: crimson;
    font-weight: 600;
}

/* footer */

